/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../images/oisi-green.png');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	background: #075221;
	color: white;
	padding: 42px;
	width: 560px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 4.5rem;
	font-family: 'Great Vibes', cursive;
}

h2 {
	text-align: center;
	background: white;
	color: #075221;
	border-radius: 20px;
}

a {
	color:white;
}

a:visited {
	color:white;
}